* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrain Mono', monospace;
    user-select: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #383631, #2b2a27);
}

.calcContainer {
    background: #f8f9fa;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 8px 8px 15px #00000040, -4px -4px 8px #ffffff40;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.display {
    background: #ece8e8;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.8rem;
    text-align: right;
    border: none;
    box-shadow: inset 2px 2px 6px #00000020;
    white-space: normal;
    word-break: break-all;
    overflow-wrap: break-word;
    min-height: 3.5rem;
}


.btnsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btnRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.btn {
    background: #f1f3f5;
    border: none;
    border-radius: 10px;
    padding: .8rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    box-shadow: 2px 2px 6px #00000020, -2px -2px 6px #ffffff60;
    transition: all 0.2s ease;
}

.btn:hover {
    background: #e9ecef;
    transform: scale(1.05);
}
